html {
  overflow-y: auto !important;
}

.scrollBar::-webkit-scrollbar-track {
  display: none;
}

.scrollBar::-webkit-scrollbar {
  width: 7px;
  /* background-color: #f5f5f5; */
}

.scrollBar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f59a;
}

/* pre > code {
  width: 100%;
  padding-left: 13px;
  padding-right: 13px;
  background: rgba(32, 28, 41, 0.75) !important;
  color: #ccc !important;
} */

code {
  background: #011627 !important;
}

blockquote {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Bitter', serif;
}

blockquote p {
  margin-bottom: 0;
}

blockquote p::before,
blockquote p::after {
  content: '“';
  margin: -2px 0 0 -10px;
  position: absolute;
  opacity: 0.5;
}

blockquote p::after {
  content: '”';
  margin: -2px -10px 0 0;
}

.mdStyle img {
  max-width: 100%;
  border-radius: 5px;
}
